@media (max-width:767px){
    .map-detail{
        position: relative;
        width: 100%;
        height: auto;
        padding: 30px;
    }
    #contactgoogleMap > div{
        left: 0px !important;
        width: 100% !important;
    }
}