.box{
    border: solid 1px #333;
    background: #ccc;
    color: #fff;
    font-size: 14px;
    font-style: italic;
    width: 500px;
    height: 500px;
    text-align: center;
    float: left;
    line-height: 500px;
    margin: 100px;
    @include radius(10px);
    .inbox{
        @extend.box;
        background: #000;
        width: 250px;
        height: 250px;
        margin: 0px;
        display: inline-block;
        float: none;
    }
}